<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
    <input type="text" name="uname" placeholder="Name">
    <input type="password" name="pw" placeholder="password">
    <input type="submit">
    </form>
     <div class="container">
        <form action="/generate" method="post">
        <button >
            <h3 class="h3 text">Generate</h3>
        </button>
        <h3 class="h2 text">Password: {{password2}} </h3>
        </form>
            
            
        </div>
</body>

</html>